<div class="showforms1">
<h1>New Bookmarks</h1>



<b>name:</b> 
<p><%= @bookmark.name  %></p>
<b>url:</b>
<p><%= @bookmark.url %></p>
<b>description:</b> 
<p><%= @bookmark.description %></p>
<b>genre:</b>
<p><%= @bookmark.genre %></p>

</div>