<div class="temp">
<h1> All Bookmarks </h1>
</div>
<% @bookmark.each do |bookmark| %>

<div class="indexforms">


<h2>Name:</h2><h3> <%= bookmark.name %></h3>

<h2>Description:</h2><h3> <%= bookmark.description %></h3>

<form action="/bookmarker/<%= bookmark.id %>" method="get">
<input type='submit' value='view'>
</form>



</div>
<% end %>