
   
<div class="forms">
  <h2> Add Bookmark</h2>

  <form action='/bookmarker' method='post'>
    <ul>
      <li>
          <label>Name:</label>
          <input type="text" name="name" placeholder="e.g. google">
      </li>
      <li>
          <label>Url:</label>
          <input type="text" name="url" placeholder="google.com">
      </li>
      <li>
          <label>Genre:</label>
          <input type="text" name="genre" placeholder="search engine">
      </li>
      <li>
          <label>Description</label>
          <input type="text" name="description" placeholder="find out anything">
      </li>
      
          <input type="submit" value="Bookmark!">
      
    </ul>
  </form>

</div>